# Environment Configuration
.env
.env.*

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# extensions build output
extensions/*/dist
extensions/*/build
extensions/*/assets

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# ignore the Shopify app configuation file
shopify.app.toml
